<div class=footer>
    <span id="levelcount">???</span> levels and <span id="usercount">???</span> users indexed
    -
    <a href="https://github.com/ErdbeerbaerLP/SMMDB">This site is available on GitHub</a> <span id="commit"></span>
    -
    Made by ErdbeerbaerLP
</div>
<script src="/stats.js"></script>
