<div id="nav">
<nav class="navbar navbar-expand-md navbar-light">
  <h2><a class="navbar-brand" href="/">SMMDB</a></h2>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/top">Top Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/new">New Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/course/random">Random Course</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/100mario">100-Mario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/course/search">Search Course</a>
    </li>
  </ul>

</nav>
</div>
<hr>